* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;

}

body {
    background-color: #181818;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.2rem;
}

img {
    width: 100%;
    height: auto;
}

.title {
    color: #f0f0f0;
}

html {
    scroll-behavior: smooth;
}

/* ------------- HEADER -------------------*/
#header nav {
    background-color: #000;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ea0a0a;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin-bottom: 20px;
}


.logo img {
    margin: auto 5rem;
    width: 60px;
}

.grid {
    display: flex;
    font-size: 1rem;
    padding: 0 4rem;
    gap: 4rem;
}

nav ul li a {
    transition: color 0.2s;
    position: relative;

}

nav ul li a:hover,
nav ul li a.active,
nav ul li a:focus {
    color: #ea0a0a;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #ea0a0a;
    position: absolute;
    left: 0;
    bottom: -1rem;
    transition: width 0.3s;
}

nav ul li a:hover::after,
nav ul li a.active::after,
nav ul li a:focus::after {
    width: 100%;
}




/*------------------------ MAIN --------------------*/
/* GENRS */
.genrs-container {
    margin-top: 60px;
}

.genrs-home {
    text-align: center;
    padding: 4rem 0 1rem;
    color: #f0f0f0;
    width: 100%;
}

.genrs-home h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

.genrs-option {
    min-height: 400px;

}

#options-container1,
#options-container2,
#options-genrs {
    display: flex;
    margin: 0 4rem;
    gap: 3rem;
    justify-content: center;
}

.container {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.3s ease, visibility 1.3s ease;
}

.container.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.3s ease, visibility 1.3s ease;
}

#options-container2 img,
#options-container1 img,
#options-genrs img {
    width: 400px;
    height: 350px;
    border-radius: 7px;
}

.choice-container {
    padding-bottom: 2.5rem;
    border-radius: 7px;
    background-color: black;
    color: #f0f0f0;
    height: 100%;
    border-bottom: 2px solid #ea0a0a;
    box-shadow: 0px 0px 10px 2px #ea0a0a, inset 0px 0px 10px #fffafa;


}


.btn-genrs {
    width: 40%;
    height: 45px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    background-color: #ea0a0a;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.btn-genrs:hover,
#btn-moreOptions:hover {
    background-color: #d91616;
    box-shadow: 0px 0px 1px 1px #ff0000;
    transition: 0.4s;
}

.moreOptions-genrs {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#btn-moreOptions {
    background-color: #ea0a0a;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    border-radius: 1rem;
}

/* MOVIES */
.movies-container .choice-container {
    border-color: blue;
    border-bottom: 2px solid #000080;
    box-shadow: 0px 0px 10px 2px #000080, inset 0px 0px 10px #fffafa;
}

.movies-container .btn-genrs {
    background-color: #0f0fe0;
}

.movies-container .btn-genrs:hover {
    background-color: #1a1a93be;
    box-shadow: 0px 0px 1px 1px #0f0fe0;
}

.movies-container {
    font-size: 20px;
    color: #f0f0f0;
}

.movies-text {
    text-align: center;
    padding: 4rem;
}

.movies-container h2 {
    padding: 2rem;
}

/* SINOPSE */
#info-container {
    display: flex;
    padding: 2rem;
    gap: 3rem;
    margin: 3rem auto 2rem;
    color: #f0f0f0;
}

.textSynopsis-container {
    width: 100%;
    padding: 2rem;
    background-color: #000;
    box-shadow: 2px 2px 0px 0px #ea0a0a;
    border-radius: 3rem;
}

.trailer-container {
    width: 100%;
}

.trailer-container iframe {
    border-radius: 3rem;
    /* width: 796px;
    height: 448px; */
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 0px 0px #ea0a0a;
}

.bottom-info {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-info img {
    width: 100px;

}

.rotten-btn:hover {
    box-shadow: 0px 0px 1px 1px #ea0a0a;
}

.rotten-btn {
    border: 1px solid #ea0a0a;
    padding: 0.5rem;
    background-color: #181818;
    cursor: pointer;
    border-radius: 4rem;
    display: flex;

}

.text-synopsi {
    padding: 2rem 0;
}

.synopsis-title {
    font-size: 2rem;
    font-weight: bold;

}

.textSynopsis-container li {
    padding: 0.5rem;
}

.name-movie {
    font-weight: bold;
}


/* FOOTER */
.footer-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0 4rem;
    gap: 1rem;
    background-color: #000;
    color: #fff;
}

.footer-bar img {
    width: 80px;
}

@media only screen and (max-width: 768px) {
    html {
        width: 100%;
    }

    

    p {
        width: 100%;
        overflow-wrap: break-word;
    }

    .logo img {
        width: 40px;
        margin: 0 1rem;
    }

    .genrs-home p {
        width: 100%;

    }

    .grid {
        display: flex;
        font-size: 1rem;
        padding: 0;
        gap: 1.5rem;
    }


    #options-container1,
    #options-container2,
    #options-genrs,
    #info-container {
        flex-direction: column;
        align-items: center;

    }


    #options-container2 img,
    #options-container1 img,
    #options-genrs img {
        width: 300px;
        height: 250px;
    }

    .synopsis-container {
        margin: 2rem 1rem;
    }

    .rotten-btn img {
        width: 4rem;
    }

    .trailer-container,
    .trailer-container iframe {
        border-radius: 3rem;
        width: 100%;
        /* height: 100%; */
    }


}